<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>singer</key>
		<string></string>
		<key>song</key>
		<string></string>
		<key>url</key>
		<string></string>
		<key>image</key>
		<string>wanglihong.jpg</string>
	</dict>
	<dict>
		<key>singer</key>
		<string></string>
		<key>song</key>
		<string></string>
		<key>url</key>
		<string></string>
		<key>image</key>
		<string>gem.jpg</string>
	</dict>
	<dict>
		<key>singer</key>
		<string></string>
		<key>song</key>
		<string></string>
		<key>url</key>
		<string></string>
		<key>image</key>
		<string>jay.jpg</string>
	</dict>
	<dict>
		<key>singer</key>
		<string></string>
		<key>song</key>
		<string></string>
		<key>url</key>
		<string></string>
		<key>image</key>
		<string>wangfei.jpg</string>
	</dict>
	<dict>
		<key>singer</key>
		<string></string>
		<key>song</key>
		<string></string>
		<key>url</key>
		<string></string>
		<key>image</key>
		<string>chenyixun.jpg</string>
	</dict>
</array>
</plist>
